<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/3.jpg" alt="keyob" class="img-thumbnail rounded-circle" width="200" />
      <h1 class="display-4">Adiansyah Putra</h1>
      <p class="lead">Student | Hehe</p>
    </div>
  </div>
</div>
